@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-light text-neutral-200;
}

body {
  @apply bg-stone-800;
}

#markdown > *:not(:last-child) {
  @apply mb-4;
}

pre {
  @apply relative my-4 rounded-md shadow-md;
}

code {
  @apply font-bold;
}

ol {
  @apply list-inside list-decimal;
}

ul {
  @apply list-inside list-disc;
}

p:not(:last-child) {
  @apply mb-4;
}

p:first-child {
  @apply mt-1;
}

ol,
ul {
  @apply mb-8 mt-1 space-y-2;
}

li > p {
  @apply inline;
}

li::marker {
  @apply text-gray-400;
}

pre:not(:has(code[class])) {
  @apply bg-stone-800;
}

pre:not(:has(code[class])) code {
  @apply block p-4;
}

button:disabled {
  opacity: 0.5;
}

p > code::before,
p > code::after {
  content: "`";
}
