@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-light;
}

#markdown > *:not(:last-child) {
  @apply mb-4;
}

pre {
  @apply rounded-md bg-black p-5 shadow-sm;
}

code {
  @apply font-bold;
}

button:disabled {
  opacity: 0.5;
}

p > code::before,
p > code::after {
  content: "`";
}
